<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_ddz_xxl_anniu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,441},{395,233}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{395,233}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1189},{393,237}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{393,237}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{391,241}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{391,241}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1189},{387,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{387,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{385,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{385,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1584},{381,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{381,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1189},{375,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{375,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,492},{371,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{371,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,676},{363,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{363,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,206},{355,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{355,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{343,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{343,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1683},{327,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{327,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,247},{331,243}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{331,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,682},{361,243}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{361,243}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,946},{379,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{379,241}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1578},{389,239}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{389,239}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1189},{393,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{393,237}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1566},{395,235}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{395,235}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,206},{397,233}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{397,233}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_anniu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,451},{395,229}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{395,229}}</string>
                <key>sourceSize</key>
                <string>{399,243}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,737},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,927},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1145},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1510},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,955},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1173},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1391},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1609},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,955},{363,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_fengshu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1320},{361,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{361,216}}</string>
                <key>sourceSize</key>
                <string>{363,216}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{593,164}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,19},{593,164}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{657,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{657,176}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{707,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{707,190}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{759,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{759,202}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{775,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{775,198}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
            <key>tx_ddz_xxl_wupin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{793,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,206}}</string>
                <key>sourceSize</key>
                <string>{793,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ddz_xxl_xiaochu02.png</string>
            <key>size</key>
            <string>{1914,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d715ee7ba9af02f5c7df2ba05c8c22:2e318c1defe12ba2c39a82cd1795d4d2:1a816dc32dcb41eba614c542800c4634$</string>
            <key>textureFileName</key>
            <string>tx_ddz_xxl_xiaochu02.png</string>
        </dict>
    </dict>
</plist>
