<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xxl_yx_bg_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{555,186}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{555,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{557,186}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{557,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,378},{559,186}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{559,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{561,186}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{561,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{563,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{563,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,190},{557,186}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{557,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{559,186}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{559,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,190},{555,186}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{555,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
            <key>xxl_yx_bg_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,378},{555,186}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{555,186}}</string>
                <key>sourceSize</key>
                <string>{563,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xxl_yx_bg_light.png</string>
            <key>size</key>
            <string>{1871,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be22a31aad486dcb684d4f169989cfaa:4210436cce84e941ee772ba10f2d1df8:cae91c0eb0e5e5f764c9285a1a5abc8a$</string>
            <key>textureFileName</key>
            <string>xxl_yx_bg_light.png</string>
        </dict>
    </dict>
</plist>
