<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_tz_light01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,684},{235,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,509},{233,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{233,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,509},{231,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{231,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{229,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{229,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,684},{227,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{227,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,684},{225,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{225,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,509},{223,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{223,171}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{219,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{219,171}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,336},{225,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{225,169}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,336},{235,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{235,169}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,167},{235,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{235,167}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,167},{235,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{235,167}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,167},{235,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{235,165}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{235,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{235,163}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{235,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{235,163}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{235,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{235,161}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{235,159}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{235,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{235,163}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{235,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{235,167}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>tx_tz_light01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,336},{235,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{235,171}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_guanquan.png</string>
            <key>size</key>
            <string>{950,859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e974de34b5790b0e51446e6d0d06ce5:fc4fe2d6b62edfcd55b0686b50195159:d501c46f4e1dd71e8f2313889410a4f8$</string>
            <key>textureFileName</key>
            <string>tx_guanquan.png</string>
        </dict>
    </dict>
</plist>
