<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_ddz_xxl_ligh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,643},{261,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,263}}</string>
                <key>sourceSize</key>
                <string>{261,263}</string>
            </dict>
            <key>tx_ddz_xxl_ligh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{425,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,425}}</string>
                <key>sourceSize</key>
                <string>{425,425}</string>
            </dict>
            <key>tx_ddz_xxl_ligh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,445}}</string>
                <key>sourceSize</key>
                <string>{428,445}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{240,255}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{240,255}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,367},{270,285}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{270,285}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,367},{298,317}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{298,317}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{330,347}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{330,347}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{348,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,363}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{348,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,363}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{334,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{334,343}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,646},{270,247}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,58},{270,247}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,635},{284,259}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,51},{284,259}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,351},{290,269}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{290,269}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,367},{294,277}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{294,277}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,347},{286,279}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{286,279}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,654},{244,257}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,59},{244,257}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,667},{200,231}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,70},{200,231}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,667},{120,87}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,154},{120,87}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,259},{122,145}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,96},{122,145}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,543},{110,135}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,92},{110,135}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,406},{112,135}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,91},{112,135}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,680},{112,133}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,91},{112,133}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
            <key>tx_ddz_xxl_xiaochu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{24,133}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,90},{24,133}}</string>
                <key>sourceSize</key>
                <string>{348,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ddz_xxl_xiaochu01.png</string>
            <key>size</key>
            <string>{2042,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ba824d1cc4f07bcd2c98a94e68e3ee:7ae7ea41e0fd62f215c06cc023fbe8ba:ca410c85a585f94db4d8698c3a4ca45e$</string>
            <key>textureFileName</key>
            <string>tx_ddz_xxl_xiaochu01.png</string>
        </dict>
    </dict>
</plist>
