<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgdz_bing_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{276,362}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,362}}</string>
                <key>sourceSize</key>
                <string>{276,364}</string>
            </dict>
            <key>sgdz_bing_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1410},{260,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,364}}</string>
                <key>sourceSize</key>
                <string>{260,364}</string>
            </dict>
            <key>sgdz_bing_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{246,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,364}}</string>
                <key>sourceSize</key>
                <string>{246,364}</string>
            </dict>
            <key>sgdz_bing_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,366},{270,362}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{270,362}}</string>
                <key>sourceSize</key>
                <string>{272,364}</string>
            </dict>
            <key>sgdz_bing_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1672},{246,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,364}}</string>
                <key>sourceSize</key>
                <string>{246,364}</string>
            </dict>
            <key>sgdz_bing_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{226,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,364}}</string>
                <key>sourceSize</key>
                <string>{226,364}</string>
            </dict>
            <key>sgdz_bing_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,770},{638,364}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,22},{638,364}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{674,364}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,22},{674,364}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,394}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,6},{766,394}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_bingkuai1.png</string>
            <key>size</key>
            <string>{734,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b67cc487af3723314b19c37b9ed3b5f3:a561ebe8579cf64fd2845e1c2ecedb8c:75d67696f3cb5542cb8d2b3418c425aa$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_bingkuai1.png</string>
        </dict>
    </dict>
</plist>
