<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinbi3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,42}}</string>
                <key>offset</key>
                <string>{2,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,129},{58,42}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{114,92}}</string>
                <key>offset</key>
                <string>{4,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,105},{114,92}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{166,142}}</string>
                <key>offset</key>
                <string>{3,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,89},{166,142}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{212,182}}</string>
                <key>offset</key>
                <string>{2,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,80},{212,182}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{246,212}}</string>
                <key>offset</key>
                <string>{2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,77},{246,212}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,186},{278,240}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,72},{278,240}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{302,266}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,68},{302,266}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,428},{320,288}}</string>
                <key>offset</key>
                <string>{2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,63},{320,288}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{334,310}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,57},{334,310}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,718},{340,328}}</string>
                <key>offset</key>
                <string>{2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{340,328}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{344,344}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{344,344}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1048},{356,354}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,51},{356,354}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{374,374}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{374,374}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1404},{386,390}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{386,390}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_jinbi1.png</string>
            <key>size</key>
            <string>{766,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f513d2132f6275b3b8abb893e58794b9:1196df8f75342758416699e327702e9e:e06841ff292e395daece0a66b0dc2c1a$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_jinbi1.png</string>
        </dict>
    </dict>
</plist>
