<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_sgdz_caidai_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,32}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{122,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{140,56}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{140,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{160,80}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{160,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{176,98}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{176,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{190,122}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{190,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,126},{200,140}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{200,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{210,158}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{210,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,126},{196,166}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{196,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,294},{202,172}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{202,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,294},{204,176}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{204,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,294},{208,180}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{208,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,508},{208,182}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{208,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,508},{212,190}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{212,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,508},{214,194}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{214,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{218,198}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{218,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,726},{220,204}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{220,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,726},{222,206}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{222,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,726},{224,210}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{224,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{174,216}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{174,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,294},{174,212}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{174,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,508},{180,212}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,126},{182,154}}</string>
                <key>offset</key>
                <string>{-33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,80},{182,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{184,130}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,84},{184,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{182,130}}</string>
                <key>offset</key>
                <string>{-36,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,89},{182,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_sgdz_caidai_0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{178,120}}</string>
                <key>offset</key>
                <string>{-38,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,95},{178,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_caidai_0.png</string>
            <key>size</key>
            <string>{1010,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c55c4825b89c05e4bbc7bce21b9e93:82ef086cbe858736dee4f56cf809f6ed:a044c2db69da5057751cd44f2b525c74$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_caidai_0.png</string>
        </dict>
    </dict>
</plist>
