<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgdz_jiebing_3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{758,250}}</string>
                <key>offset</key>
                <string>{7,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{758,250}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{816,328}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{816,328}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,332},{824,370}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{824,370}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{830,380}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{830,380}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1086},{836,382}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{836,382}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{836,384}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{836,384}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,704},{832,372}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{832,372}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
            <key>sgdz_jiebing_3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{822,366}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{822,366}}</string>
                <key>sourceSize</key>
                <string>{840,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_jiebing.png</string>
            <key>size</key>
            <string>{1678,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a26bb243ae6be83e423d89aac9c1b3:42920cd6efd3983b0c45972610bd45cf:fe952a28d9867b7d844b73821c685f03$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_jiebing.png</string>
        </dict>
    </dict>
</plist>
