<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caidai2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1704},{300,196}}</string>
                <key>offset</key>
                <string>{-191,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,191},{300,196}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{562,352}}</string>
                <key>offset</key>
                <string>{-58,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,58},{562,352}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{590,384}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{590,384}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,398}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,17},{600,398}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{576,406}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{576,406}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{586,408}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,9},{586,408}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{568,414}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,14},{568,414}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,572},{564,426}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,17},{564,426}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
            <key>caidai2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1138},{564,428}}</string>
                <key>offset</key>
                <string>{40,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,22},{564,428}}</string>
                <key>sourceSize</key>
                <string>{700,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_caidai1_1.png</string>
            <key>size</key>
            <string>{1022,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48200c084b740b0001c1fd2b8467480f:1183191b32c81eadb485d194888acf57:0b27659eacf9379eef0c4ffd4b6521c8$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_caidai1_1.png</string>
        </dict>
    </dict>
</plist>
