<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinbi3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,744},{390,410}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{390,410}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,744},{382,416}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,24},{382,416}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,744},{392,434}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{392,434}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,744},{400,408}}</string>
                <key>offset</key>
                <string>{-11,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{400,408}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,358}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,79},{414,358}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{422,362}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,85},{422,362}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{424,368}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,89},{424,368}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{422,364}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,103},{422,364}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{422,366}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,110},{422,366}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,370},{396,370}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,117},{396,370}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,370},{402,370}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,124},{402,370}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{404,374}}</string>
                <key>offset</key>
                <string>{-27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,129},{404,374}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,370},{404,372}}</string>
                <key>offset</key>
                <string>{-29,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,135},{404,372}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
            <key>jinbi3_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,370},{400,368}}</string>
                <key>offset</key>
                <string>{-30,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,141},{400,368}}</string>
                <key>sourceSize</key>
                <string>{500,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_jinbi2.png</string>
            <key>size</key>
            <string>{2038,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f26a63720386bb3b8a9efdf947b5ee7:19380933e8c2af762085bf99d936766b:bbf1502567a92337deb58e4bcff44161$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_jinbi2.png</string>
        </dict>
    </dict>
</plist>
