<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgdz_bing_3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{786,398}}</string>
                <key>offset</key>
                <string>{38,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,2},{786,398}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{782,398}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,2},{782,398}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,402},{830,398}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{830,398}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{838,398}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{838,398}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,802},{860,398}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{860,398}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
            <key>sgdz_bing_3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{848,330}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,70},{848,330}}</string>
                <key>sourceSize</key>
                <string>{880,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sgdz_bingkuai2.png</string>
            <key>size</key>
            <string>{1704,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eba8c78da5be0f1c1d80e7d57741e6c1:f7966ef0b5a2168c0e72366620fb3f2b:0dcafe8ecc4835a12b556a8b0604f047$</string>
            <key>textureFileName</key>
            <string>tx_sgdz_bingkuai2.png</string>
        </dict>
    </dict>
</plist>
